<div class="jumbotron">
    <h1>Money</h1>
    <p class="lead">Whatever you need a loan for, our Smart Search can help: 
     
        <ul class="list-group">
            <li class="list-group-item ">We'll show you loans likely to say YES </li>
            <li class="list-group-item ">Searching WON'T harm your credit score</li>
            <li class="list-group-item ">Fast and easy to use.</li>
            
        </ul>

        </p>
    <p><a href="." class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Housing</h2>
        <p>Doing up or extending your home is a great way to add value to your home – as well as giving you and your family a wonderful place to live. We can help you find the right home improvement loan for you.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Car</h2>
        <p>Getting a loan can be cheaper than car dealer finance, and we can help you find the right loan for you. Having a car loan makes you a cash buyer, 
        which is the best start for getting a great deal on your new car.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Spendings</h2>
        <p>Gathering all your debts together into one loan may help you get them under control. You can search for a loan that’s right for you.
        To really tackle your debts, make sure you get your spending in check too.</p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>-->
    </div>
</div>
