<div class="jumbotron">
    <h1>Housing loan</h1>
    <p>Equal installments </p>
    <div class="row margin-top-5">

        <div class="container">


            <form data-bind="submit: $root.GetInstallments">

                <div class="input-group col-md-6">
                    <span class="label label-info" id="basic-addon2">Amount</span>
                    <input id="Amount" type="text" class="form-control" placeholder="1000-1000000" data-bind="event: {change:$root.removeInstallments}" />
                </div>
                <div class="input-group col-md-6">
                    <span class="label label-info" id="basic-addon1">Payback time</span>
                    <input id="PaybackTime" type="text" class="form-control" placeholder="3-480" data-bind="event: {change:$root.removeInstallments}"  />
                </div>

                <div class="well-sm">
                    <button id="btnSubmit" class="btn btn-lg btn-success " type="submit">Calculate payback plan</button>
                </div>
            </form>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Payback plan</div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Capital</th>
                        <th>Interest</th>
                        <th>Payment</th>
                    </tr>
                </thead>
                <tbody id="tbInstalments" data-bind="foreach: Installments">
                    <tr>
                        <td data-bind="text: Month"></td>
                        <td data-bind="text: Capital"></td>
                        <td data-bind="text: Interest"></td>
                        <td data-bind="text: Payment">   </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/app/LoanEqual.js"> </script>